div.ediciones{
  background: #1d1d1d;
  text-align: center;
  margin: 20px 0;
}
div.ediciones a.revista{
  background: transparent;
  display: inline-block;
  text-align: center;
  margin: 0 0 10px 0;
  padding: 10px;
  border-bottom: #555 dotted 1px;
  width: 245px;
}
div.ediciones a.masEdiciones{
  border: 2px solid #b3b3b3;
  border-radius: 5px;
  color: #fff;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 26px auto;
  width: 220px;
}
div.ediciones a.masEdiciones:hover{
  background: #ccc;
  color: #333;
  text-decoration:underline;
}
div.ediciones a.revista h3{
  color: #FFF;
margin: 0;

}
div.ediciones h2{
  color: #fff;
  text-align: left;
}
div.indexaciones{
  overflow: hidden;
  padding: 10px 0;
}

div.indexaciones h2{
  padding: 0 2%;
}

iframe.videoIntroduccion{
  height: 280px;
  width: 98%;
}

div.introduccion a.masInformacion{
  background: #ffa400;
  border-radius: 5px;
  padding: 10px 20px;
  color: #634000;
  border: 2px solid #c17d01;
  text-decoration: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  width: 200px;
}
div.introduccion h1{
  color: rgba(214, 138, 0, 0.7);

}
div.portada{
  text-align: center;
}

div.portada img{
 width: 200px;
}

div.logosRelacionados{
  text-align: center;
}
div.logosRelacionados a{
  display: inline-block;
  margin: 10px;
}

div.logosRelacionados img{
  margin: 10px auto;
  display: block;
  height: 120px;
}



@media screen and (min-width:700px){
  div.descripcion div.introduccion p{
    float: left;
    width: 46%;
  }

 div.descripcion  iframe.videoIntroduccion{
    padding-left: 2%;
    height: 280px;
    width: 50%;
  }
}


@media screen and (min-width:1100px){
  div.portada{
    right: 100px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 39px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 39px -4px rgba(0,0,0,0.75);
box-shadow: 10px 10px 39px -4px rgba(0,0,0,0.75);

  }
  div.portada img{
    width: 500px;
  }

  div.contenedorPortada{
    position: relative;
    background: transparent;
    max-width: 1200px;
    margin: 0 auto;
    height: 0px;
  }

  div.descripcion{
    width: 40%;
      overflow: hidden;
  }

  div.descripcion div.introduccion p{
    float: none;
    width: auto;

  }


  div.descripcion  iframe.videoIntroduccion{
    padding-left: 0;
    height: 280px;
    width: 100%;
  }

}
